@CHARSET "ISO-8859-1";

body {
/* 		background-image: url('/iamlegend2/images/stonewall3.jpg'); */
		background: url('/iamlegend2/images/stonewall7.jpg') no-repeat center center fixed;
    	background-position: center;
    	-webkit-background-size: cover;
    	-moz-background-size: cover;
    	background-size: cover;
    	-o-background-size: cover;
}

.background {
	border-radius: 25px;	
	background-repeat: no-repeat;
	background-position: center;
	background-image: url('/iamlegend2/images/background12.jpg');
	box-shadow: 10px 10px 10px black;
}

h1, h2, h3{
	text-align: center;
	color: white;
	text-shadow: 5px 5px 4px #000000;
}

h3{
	color: white;
	text-shadow: 2px 2px 4px #000000;
}

table{
	width: 75%;
	height: 40px;
}

.profile{
	color: rgb(0,0,0);
	padding:10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 10), 0 6px 20px 0 rgba(0, 0, 0, 10);
	background-color: rgb(255,255,255);
	opacity: 0.6;
}

.geoData{
	color: black;
	background-color: rgb(255,255,255);
	opacity: 0.6;
	height: 400px;
	width: 400px;
	box-shadow: 10px 10px 5px black;
}
.cartData{
	color: black;
	background-color: rgb(255,255,255);
	opacity: 0.6;
	height: 400px;
	width: 400px;
	box-shadow: 10px 10px 5px black;
}

.container{
	opacity: 0.6;
}

legend{
	text-shadow: 5px 5px 4px #000000;
	
}